@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');




/** Universal Selector**/



*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, html {
   height: 100%;
   font-family: 'Poppins', sans-serif;
}

/* Rectangle 35 */

.header-section{
position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;

background: #FFFFFF;
height: 80px;
}

.header-section{
  display: flex;
  justify-content: space-between;
}

.logo{
 margin-left: 14.26px;

}

.nav-bar{
  flex-direction: column;
  list-style-type: none;
  text-decoration: none;
  text-align: center;
  
}